<!DOCTYPE html>
<html>
<head>
  <title>AfterShock</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Russo+One|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v1.3.0/turf.min.js'></script>
  

  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="containter-fluid">
    <nav class="navbar navbar-inverse" id="shitNav">
     
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand animated shake" href="/">Aftershock</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right" id="nav-links">
           <% if current_user %> 
           
           <li><%= current_user.username %></li> 
           <li><%= link_to "Let Contact Know", logout_path, method: "delete" %></li> 
           <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
           
           <% else %> 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
              Login
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
              Sign Up
            </button>
            
           <% end %>
         </ul>
       </div><!-- /.navbar-collapse -->

    </nav>
  </div>

  <!-- /.login modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Log In to Aftershock</h4>
        </div>
        <div class="modal-body">
          <%= form_for :user, url: sessions_path do |f| %>
            <% flash.each do |name, msg| %>
                  <%= content_tag :div, msg, class: name %>
            <% end %>
            
            <%= f.text_field :username, placeholder: "Enter Your Username", class: 'form-control'  %>
            <br>
            <%= f.password_field :password, placeholder: "Enter Your Password", class: 'form-control'  %>
            <br>
            <%= f.submit "Log In", class: 'btn btn-primary center-block'  %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /.signup-modal -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Sign Up for Aftershock</h4>
        </div>
        <div class="modal-body">
          <%= form_for :user, url: signup_path do |f| %>
            <%= f.text_field :username, placeholder: "Create a Username", autofocus: true, class: 'form-control' %>
            <br>
            <%= f.email_field :email, placeholder: "Enter your email address", class: 'form-control' %>
            <br>
            <%= f.text_field :phone, placeholder: "Enter your phone number", class: 'form-control' %>
            <br>
            <%= f.text_field :city, placeholder: "Enter your city", class: 'form-control' %>
            <br>
            <%= f.text_field :meeting_place, placeholder: "Create a Meeting Place", class: 'form-control' %>
            <br>
            <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
            <br>
            <%= f.submit "Sign Up", class: 'btn btn-primary center-block' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

	<%= yield %>

	<script href='./assets/javascripts/maps.js'> </script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />
  <%= javascript_include_tag 'application' %>
</body>
</html>
